.ipynb_checkpoints
.idea
.virtual_documents
runs
yolov5
yolov5s.pt
yolov8m.pt
yolov8n.pt
yolov8s.pt
my_photo.jpeg
Screenshot_20231103_235648.png
en_sample
None-VGG-BiLSTM-CTC (will be deprecated).pth
